@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@0,500;0,800;1,300;1,500;1,600&family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #9376E0;
}

.nav-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon img {
    width: 50px;
    object-fit: cover;
    margin-right: 20px;
}

.nav-items {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-items a {
    text-decoration: none;
}

.login-btn {
    background-color: blueviolet;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

/* banner related styles */
.banner-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
}

.banner-text {
    width: 50%;
    margin: 40px;
}

.banner-heading {
    background-image: linear-gradient(to bottom, red, blue);
    color: transparent;
    -webkit-background-clip: text;
}

.banner-content {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.logo-icon {
    font-size: 30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.see-shop-btn {
    padding: 15px;
    margin-right: 10px;
}

/* product related styles */
.product-header {
    text-align: center;
    margin-top: 30px;
}

.all-product {
    width: 1100px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product-container {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px gray;
}

.product-and-icon {
    display: flex;
    justify-content: space-between;
}

.product-container img {
    width: 100%;
}

.product-items-icons span {
    padding: 10px;
    background-color: #9376e0;
    border-radius: 50%;
    margin-left: 5px;
    color: white;
}

/* discount related styles */
.discount-container {
    max-width: 1400px;
    min-height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount-img {
    /* width: 50%; */
    position: relative;
}

.discount-img img {
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.discount-percentage {
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 50%;
    background-color: wheat;
    top: 30px;
    left: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount-content {
    width: 50%;
}

.buy-now {
    padding: 5px;
}

/* customer review related styles */
.customer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.customer-container {
    width: 300px;
    height: 150px;
    padding: 10px;
    background-color: #E893CF;
    border-radius: 5px;
    margin-top: 20px;
}

.customer-items {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}

.customer-items img {
    width: 50px;
}

/* footer related styles */
.footer-container {
    background-color: #9376E0;
    padding: 100px;
    margin-top: 20px;
}

.footer-content {
    text-align: center;
}